html, body, .content {
	height: 100%;
	margin:0px;
}

button.circular {
	width: 100px;
	height: 100px;

}

.ui.icon.buttons.mana-icon .button{
	padding: 0.2em;

	background-color: white;
}

.ui.table.mana-table td{
	
	padding: 0.25em;
}

button:hover {
	opacity: 0.5;
}

button:active {
	opacity: 0.7;
}


div.thirteen.wide.column {
	margin-top: 50px;
}

div.five.column.grid {
	margin-top: 50px;
	margin-bottom: 50px;
}

.three.wide.column.side-menu {
	border-right:solid 2px;
	height: 100%;
	
	padding-right: 0px;
	padding-top: 25px;
}

.img-small{
	max-width: 50px;
	
}

button img {
	width: 40px;
}


.ui.grid {
	 
	text-align: center;
}

